// Paleta
$grafito:        #2c2c2c;
$grafito-oscuro: #1e1e1e;
$grafito-borde:  #3a3a3a;
$grafito-hover:  #333333;
$gris-navbar:    #444444;
$gris-medio:     #888888;
$gris-claro:     #d6d6d6;
$blanco:         #ffffff;
$fondo:          #ededec;
